.main-column{
    gap: 32px;
    margin: 32px 0;
}

.advantages-check-or-no{
    width: 45px;
    padding: 4px;
    margin: 8px 2px;
    align-self:flex-start;
}

.advantages-img-box{
    padding: 4px 32px;
}

.advantages-content{
    margin: 12px;
}

#advantages .box{  
    width: 280px;
    height: auto;
    text-align: center;
}

#advantages-home-img{
    margin-top: 124px;
    width: 280px;
}

#appeal_text{
    gap: 24px;
}

#green-0 p{
    color: #0D192B;
}

#pink-0 p{
    color: #0D192B;
}

/* colors - boxes */
#green-0{
    background-color: #07F9A2;
}

#green-1{
    background-color: #09C184;
}

#green-2{
    background-color: #0A8967;
}

#green-3{
    background-color: #0C5149 ;
}

#green-4{
    background-color: #062D35;
}

#pink-0{
    background-color: #F4C2DB;
}
#pink-1{
    background-color: #EBA0C6;
}
#pink-2{
    background-color: #E3519A;
}
#pink-3{
    background-color: #D40071;
}
#pink-4{
    background-color: #75074C;
}

@media(min-width:600px){
     .main-column{
        gap: 0;
    }
    
    #advantages-home-img{
        width: 560px;
    }
}

@media(min-width:1024px){
   #advantages-home-img{
       width: 984px;
   }

   #advantages .box{  
        width: 492px;
        height: 420px;
    }
}

