header {
    position: sticky;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100vw;
    padding: 8px 16px;
    border-bottom: 1px solid var(--green-color);
}

header .logo {
    max-width: 50px;
}

header #menu{
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease;
}

header #menu.active{
    height: 400px;
}

header #menu ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

header #menu ul li{
    display: flex;
    justify-content: center;
}

header #menu ul li a{
    flex-grow: 1;
    line-height: 64px;
    text-align: center;
}
header #menu ul li:last-child{
    color: var(--green-color);
}
header #menu ul li a:hover{
    text-decoration: underline;
    color: var(--green-color);
    transition-duration: 0.2s;
}


/* IPADS AND TABLETS */
@media (min-width: 600px) {

}

/* LAPTOPS */
@media (min-width: 1024px) {
    header {
        height: 128px;
        align-items: center;
        padding: 8px 64px;
        flex-direction: row;
    }

    header .logo {
        max-width: 128px;
    }

    header #menu ul{
        flex-direction: row;
        gap: 32px;
    }

    #open-menu{
        display: none;
    }

    #close-menu{
        display: none !important;
    } 

    header #menu{
        height: auto;
    }
    header #menu.active{
        height: auto;
    }
}

/* LARGE SCREENS */
@media (min-width: 1440px) {

}